body {
    background-color: #17212B;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    font-size: 24px;
    font-weight: bold;
}

p {
    font-size: 14px;
    margin-bottom: 20px;
}

button {
    background: linear-gradient(90deg, #385848, #3B7357);
    color: white;
    font-size: 16px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background: linear-gradient(90deg, #0a5a3e, #226a4b);
}

footer {
    margin-top: 20px;
    font-size: 12px;
    color: gray;
}
